<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<p>The number of products in the database is: <%= @number_of_products %></p>
<p>The number of categories in the database is: <%= @number_of_categories %></p>