<article>
    <h1>
      <span><%= order.name %></span>
      <span><%= humanized_money_with_symbol order.price %></span>
    </h1>



</article>



# The line items in the order and:
  # Their image, name and description
  # Their respective quantities and line item totals


# The final amount for the order


# The email that was used